* {
  margin: 0;
  padding: 0 auto;
}
.container {
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  footer {
    margin-top: auto;
  }
}
